# fly.toml app configuration file generated for badminton-scheduler-bot on 2025-11-25T11:23:32Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'badminton-scheduler-bot'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
